.jumbotron
  .container
    h1 Liebe Eltern und Schüler der Klasse 5b,
    p viel Spaß auf eurer Klassenseite. Anregungen bitte per Mail!&nbsp;&nbsp;&nbsp;
    a.btn.btn-warning.btn-large(role="button", href="mailto:stefan.stuehrmann@byscnet.de")
      i.icon-envelope
      strong  Stefan